*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3{
    width: 250px;
    text-align: center;
}

.bookmark p{
    font-size: 16px;
    font-weight: bold;
}
.bookmark img{
    width: 20px;
}
.bookmark td img{
    margin: 5px;
}

/* .customIcon{
    width: 20px;
      height: 20px;
      background-color: black;
      border: none;
      border-radius: 5px;
      font-size: 18px; 
      cursor: pointer; 
} */