*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3{
    width: 250px;
    text-align: center;
}

.bookmark p{
    font-size: 16px;
    font-weight: bold;
}
.bookmark img{
    width: 20px;
}
.bookmark td img{
    margin: 5px;
}

.Errortext{
    text-align: center;
}
.timeStamp{
    width: 100%;
    text-align: center;
}
.heading img{
    width: 100px;
}